-r requirements-build.in

Pygments==2.9.0
Werkzeug==2.0.1
bandit==1.7.0
black==21.6b0
coverage==5.5
django-debug-toolbar==3.2.1
django-extensions==3.1.3
docker-compose==1.29.2
fabric==2.6.0
invoke==1.6.0
ipdb==0.13.9
ipython==7.25.0
isort==5.9.2
model-bakery==1.3.2
pip-tools==6.2.0
pre-commit==2.13.0
pylama==7.7.1
pylint-celery==0.3
pylint-django==2.4.4
pylint==2.9.5
pytest-cov==2.12.1
pytest-django==4.4.0
pytest-mock==3.6.1
pytest==6.2.4
radon==5.0.1
safety==1.10.3
